.background {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all .5 ease
}

.button-view {
  width: 190px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #40e0d0;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  transition: .3s ease;
}

.button-view:hover {
  transform: scale(1.1);
}

.bg-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Righteous', cursive;
  font-size: 4rem;
  z-index: 20;
  text-align: center;
}