.footer {
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    transition: .5s ease;
    padding: 3rem 0;
}

.footer-content {
    margin: 0;
}

ul {
    margin: 0 !important;
    padding: 0;
}

.footer li {
    font-size: .8rem;
    text-align: center;
}

.footer p {
    text-align: center;

}