@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #dbdbdb;


}

body::-webkit-scrollbar {
  width: 4px;
  background-color: #111;
}

a, li {
  text-decoration: none;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, b, i {
  margin: 0;
  padding: 0;
  font-style: normal;
}